* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #050505, #000000);
}

.container {
  background: white;
  padding: 2rem 2.5rem;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  width: 350px;
}

.container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.input-group {
  margin-bottom: 1.2rem;
}

label {
  font-weight: 600;
  display: block;
  margin-bottom: 0.5rem;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 8px;
  outline: none;
  font-size: 15px;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #4facfe;
}

small {
  color: red;
  display: block;
  margin-top: 5px;
  font-size: 13px;
  height: 15px;
}

button {
  width: 100%;
  padding: 10px;
  background: black;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #000102;
}

result Message{
   color: red;
   margin-top: 20px;
   text-align: center;
   font-weight: bold;
   font-size: 14px;
}
